<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="container-fluid">

    <div class="reg_page mt-5 mb-5 row">
      <div class="ml-5 col-lg-7" style="padding-left: 7%">
        <img class="img-fluid" width="80%" src="/images/registration-main.svg" alt="">
      </div>

      <div class="general_fields w-100 mx-5 mt-3 col-lg-3 p-3">
        <div class="main_caption">Вход</div>
        <div class="alt_way">У вас ещё нет аккаунта?<br><%= link_to 'Зарегистрироваться', new_user_registration_path, class:'ml-2'%></div>
        <div class="caption">E-mail</div>
        <%= f.email_field :email, autofocus: true, class:'border log', autocomplete: "email" %>
        <div class="caption">Введите пароль</div>
        <%= f.password_field :password, class:'border pass', autocomplete: "current-password" %>
        <div class="p-0">
          <%= f.submit "Войти", class: 'w-100 reg px-5 py-2' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>